{% macro menu_item(item) %}
<li class="menu__item">
    <a href="/" class="link link--dropdown">
        {{ item }}
    </a>
    <img src="./img/svg/arrow.svg" class="arrow" />

    <ul class="submenu">
        <li>
            <a href="/" class="link link--submenu">Post Header</a>
            <img src="./img/svg/arrow.svg" class="arrow" />
        </li>
        <li>
            <a href="/" class="link link--submenu">Post Layout</a>
            <img src="./img/svg/arrow.svg" class="arrow" />
        </li>
        <li>
            <a href="/" class="link link--submenu">Share Buttons</a>
            <img src="./img/svg/arrow.svg" class="arrow" />
        </li>
        <li>
            <a href="/" class="link link--submenu">Gallery Post</a>
            <img src="./img/svg/arrow.svg" class="arrow" />
        </li>
        <li>
            <a href="/" class="link link--submenu">Video Post</a>
            <img src="./img/svg/arrow.svg" class="arrow" />
        </li>
    </ul>
</li>
{% endmacro %}

{% block content %}

<nav class="nav" id="nav">
    <ul class="menu">

        <div class="menu__mobile-header">
            <a href="/" class="logo">
                <img src="./img/svg/logo.svg" alt="logo" />
            </a>

            <button class="close-btn" onclick="mobileMenuToggle()">
                <img src="./img/svg/cross.svg" alt="close menu button" />
            </button>

            
        </div>

        {{ menu_item('Demos') }}
        {{ menu_item('Post') }}
        {{ menu_item('Features') }}
        {{ menu_item('Categories') }}
        {{ menu_item('Shop') }}
        <li class="menu__item">
            <a href="/" class="link">Buy Now</a>
        </li> 
       
    </ul>

</nav>

{% endblock %}