<nav>
    <ul class="menu">

        <!-- {% for item in navs %}
        <li class="menu__item">
            <a href="/" class="link link--dropdown">
                {{ item.name }}
            </a>

            <ul class="submenu">
                <li>
                    <a href="/" class="link link--submenu">
                        {{ item.submenu.name }}
                    </a>
                </li>
            </ul>
        </li>
            
        {% endfor %} -->


        <li>
            <a href="/" class="link link--dropdown">Demos</a>

            <ul class="submenu">
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/" class="link link--dropdown">Post</a>

            <ul class="submenu">
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/" class="link link--dropdown">Features</a>

            <ul class="submenu">
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/" class="link link--dropdown">Categories</a>

            <ul class="submenu">
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/" class="link link--dropdown">Shop</a>

            <ul class="submenu">
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
                <li>
                    <a href="/" class="link link--submenu">Post Header</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/" class="link">Buy Now</a>
        </li>
    </ul>
</nav>

