/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    display: block;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1160px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(55, 55, 54, 0.467);
}