/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    display: block;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

    &.hidden {
        height: 100vh;
        overflow: hidden;
    }
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1160px;
}

