/*------------------*
# Variables
*------------------*/


/*
 * Base font family
*/

$base-font-family: Arial, sans-serif !default;


/*
 * Base colors
*/

$color-white: #ffffff !default;
$color-black: #000000 !default;

