{% extends "base.html" %}
{% from "card.html" import card %}

{% block content %}
<main class="main-content">
    <div class="page-width">

       <div class="cards">
            
            {{ card('../../img/slide0.jpg', 'Lifestyle', 'Eat Right For Your Exercise Regime') }}
            {{ card('../../img/slide1.jpg', 'Lifestyle', 'The Look: Perfect Balance') }}
            {{ card('../../img/slide2.jpg', 'Style', 'Fun Things to Do in Rome') }}
            {{ card('../../img/slide3.jpg', 'Style', '24 Colorful Ceilings That Add Unexpected Contrast to Any Room') }}
            {{ card('../../img/slide4.jpg', 'Lifestyle', '9 New Songs to Heat Up Your Fall Playlist') }}
            {{ card('../../img/slide5.jpg', 'Events', 'What You Need on Your Bedside Table') }}
            {{ card('../../img/slide6.jpg', 'Travel', 'When Two Wheels Are Better Than Four') }}
            {{ card('../../img/slide7.jpg', 'Travel', '26 Living Room Ideas from the Homes of Top Designers') }}
            {{ card('../../img/slide8.jpg', 'Music', 'What Makes Your City’s Style Unique') }}

       </div>
    </div>

</main>
{% endblock %}
