{% extends "base.html" %}

{% block content %}
<main class="main-content">
    <div class="page-width">

       <div class="cards">

            <article class="card">
                <a href="#">
                    <div class="card__img">
                        <img src="../../img/slide0.jpg" alt="" />
                    </div>
                    <h3 class="card__title">
                        Eat Right For Your Exercise Regime
                    </h3>
                    <span class="card__descr">
                        Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail. 
                        Warmth comfort hangs loosely from the body large pocket at the front full button…
                    </span>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <div class="card__img">
                        <img src="../../img/slide1.jpg" alt="" />
                    </div>
                    <h3 class="card__title">
                        The Look: Perfect Balance
                    </h3>
                    <span class="card__descr">
                        Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail. 
                        Warmth comfort hangs loosely from the body large pocket at the front full button…
                    </span>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <div class="card__img">
                        <img src="../../img/slide2.jpg" alt="" />
                    </div>
                    <h3 class="card__title">
                        Fun Things to Do in Rome
                    </h3>
                    <span class="card__descr">
                        Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail. 
                        Warmth comfort hangs loosely from the body large pocket at the front full button…
                    </span>
                </a>
            </article>
       </div>
    </div>

</main>
{% endblock %}
