/*------------------*
# Main Content
*------------------*/

.main-content {
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 4.85rem;
    margin-left: -20px;
    margin-right: -20px;
}
